.DS_Store
node_modules/
npm-debug.log
.sass-cache/*

/modules/*/application/cache/*
!/modules/roots/application/cache/index.html
!/modules/roots/application/cache/.htaccess

/modules/*/application/logs/*
!/modules/*/application/logs/index.html
!/modules/*/application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
composer.phar
.tags1
.tags
*.vscode
/tmp/
